{% extends "auction/layout.html" %}

{% block content %}
    <div class="container">
        <div class="row" style="padding: 60px 15px">
            <div class="page-header">
                <h1>Create New Auction
                </h1>
            </div>

            <div class="col-md-8">
                {% load bootstrap3 %}
                <form method="post" action="/auction/create/">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}